#Luck-pic{
    height:500px;
    width:700px;
    
}

#Future-pic{
    height:500px;
    width:500px;
}

.Luck p{
    font-family:fantasy;
    margin:auto;
}

.Flute p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:auto
}

body {
    background-color: bisque;
}