

header{
    border: 5px solid red;
    background-color: #372e29;
}

h1{
    border: 5px dotted red;
    text-align: center;
    color:#ecb939;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 50px;
    padding: 20px;

}

.main{
    border: 5px solid black;
    justify-content: center;
    text-align: center;
    background-color:darkolivegreen;
    color:antiquewhite;
    display: flex;
    flex-direction: column;

}

.scoreboard{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 500px;
    border: 5px dotted red;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#score-info{
    margin: 0px;
    border: 2px dotted red;
    padding: 10px;
    font-size: 30px;
    font-family: 'Pixelify Sans', sans-serif;}

#score-msg{
    margin: 0px;
    border: 2px dotted red;
    padding: 10px;
    font-size: 30px;
    font-family: 'Pixelify Sans', sans-serif;
}

.sign-output{
    display: flex;
    margin:auto;
    margin-top: 50px;
    height:150px;
    justify-content: center;
    font-size: 100px;
    width: 500px;
    text-align: center;
    
}

.user-output{
    border: 5px solid red;
    width:150px;
    margin-right: 100px;
    background-color: #36454f;
}

.comp-output{
    border: 5px solid blue;
    width: 150px;
    background-color: #36454f;
}

.comp-p{
    border:3px dotted red;
}