

header{
    border: 5px solid red;
    background-color: #372e29;
}

h1{
    border: 5px dotted red;
    text-align: center;
    color:#ecb939;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 50px;
    padding: 20px;

}

.main{
    border: 5px solid black;
    justify-content: center;
    text-align: center;
    background-color:darkolivegreen;
    color:antiquewhite;
    display: flex;
    flex-direction: column;
    height: 100vh;;

}

.scoreboard{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 50%;
    border: 5px dotted orange;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#score-info{
    margin: auto;
    border: 2px dotted red;
    padding: 10px;
    font-size: 35px;
    font-family: 'Pixelify Sans', sans-serif;}

#score-msg{
    margin: auto;
    border: 2px dotted red;
    padding: 10px;
    font-size: 35px;
    font-family: 'Pixelify Sans', sans-serif;
}

.sign-output{
    display: flex;
    margin: auto;
    height: 300px;
    font-size: 100px;
    width: 50%;
    text-align: center;
    justify-content: space-around;
    
}

.user-output,
.comp-output{
    width: 150px;
    height: 150px;
    background-color: #36454f;
    border-radius: 10px;
}

#user-output1,
#comp-output1{
    height: 300px;
    width: 150px;
    border-radius: 10px;
}

#user-p,
#comp-p{
    font-size: 20px;
    height: 100px;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 40%;
}



.buttons{
    height:200px;
    width: 50%;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
}


#scissors-button,
#rock-button,
#paper-button{
    height: 100%;
    width: 250px;
    font-size: 100px;
    padding: 10px 10px;
    text-align: center;
    background-color: #36454f;
    cursor: pointer;
    border-radius: 10px;
}

#scissors-button:hover,
#rock-button:hover,
#paper-button:hover{
    background-color:#536878;
}


#scissors-button:active,
#rock-button:active,
#paper-button:active{
    background-color: #708090;
}